html,
body {
  font-family: Lexend, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-image: url(./../public/images/room.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: rgb(31, 41, 55);
  transition: all 0.3s ease-in-out;
}
