/* Main */
.main {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card Component */
.card {
  padding: 2rem;
  background-color: rgb(209, 213, 219);
  border-radius: 1rem;
}

/* Card Header */
.card__header {
  display: flex;
}

.link {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.125rem;
  font-size: 1.25rem;
  color: rgba(31, 41, 55, 60%);
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.link__active {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 0.125rem;
  font-size: 1.25rem;
  color: rgba(17, 24, 39, 100%);
  border-bottom: 0.125rem solid rgb(31, 41, 55);
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

/* Card Body */
.card__body {
  text-align: center;
  margin-top: 2rem;
}

.card__body h1 {
  font-size: 5rem;
}

/* Card Footer */
.card__footer {
  margin-top: 1rem;
}

/* feature */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__repeat {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__repeat svg {
  height: 2rem;
  width: 2rem;
}

.button__start {
  padding: 0.875rem 3rem;
  margin: 0 2rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: rgb(59, 130, 246);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0 rgb(29, 78, 216);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button__start:hover {
  box-shadow: 0 0.125rem 0 rgb(29, 78, 216);
}

.button__pause {
  padding: 0.875rem 3rem;
  margin: 0 2rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: rgb(239, 68, 68);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0 rgb(185, 28, 28);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button__pause:hover {
  box-shadow: 0 0.125rem 0 rgb(185, 28, 28);
}

.button__setting {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__setting svg {
  height: 2rem;
  width: 2rem;
}

/* 
.addon {
  padding: 1rem 0.75rem;
  margin-top: 1rem;
  background-color: rgb(31, 41, 55);
  border-radius: 0.5rem;
}

.addon h5 {
  color: #fff;
}

.addon__form {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.addon__input {
  display: flex;
  flex-direction: column;
}

.addon__input label {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
}

.addon__input input {
  padding: 0.25rem 0.5rem;
  margin-top: 0.25rem;
  width: 4.4rem;
  height: 1.25rem;
  border: none;
  border-radius: 0.125rem;
}

.addon__action {
  margin-top: 0.75rem;
}

.addon__action button {
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  color: #fff;
  background-color: rgb(59, 130, 246);
  border: none;
  border-radius: 0.125rem;
} */

@media screen and (min-width: 768px) {
  
}