/* -------------- STYLE --------------- */

/* Main */
.main {
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card Component */
.card {
  width: 32rem;
  padding: 2rem;
  background-color: rgba(112, 74, 38, 0.8);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px 10px;
}

/* Card Header */
.card__header {
  display: flex;
  justify-content: space-between;
}

.link {
  padding-bottom: 0.125rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: capitalize;
  font-weight: 600;
  cursor: pointer;
}

.link__active {
  padding-bottom: 0.125rem;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
  border-bottom: 0.25rem solid rgba(255, 255, 255, 0.8);
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

/* Card Body */
.card__body {
  text-align: center;
  margin-top: 2rem;
}

.card__body h1 {
  font-size: 5rem;
  color: rgba(255, 255, 255, 1);
}

/* Card Footer */
.card__footer {
  margin-top: 1rem;
}

/* feature */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__repeat {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__repeat svg {
  height: 2rem;
  width: 2rem;
}

.button__repeat svg path {
  color: rgba(255, 255, 255, 1);
}

.button__start {
  padding: 0.875rem 3rem;
  margin: 0 2rem;
  font-family: 'Lexend', sans-serif;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  background-color: rgba(217, 119, 6, 0.8);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 1);
  cursor: pointer;
}

.button__start:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 1);
}

.button__pause {
  padding: 0.875rem 3rem;
  margin: 0 2rem;
  font-family: 'Lexend', sans-serif;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  background-color: rgba(217, 119, 6, 0.6);
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
  cursor: pointer;
}

.button__pause:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

.button__setting {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button__setting svg {
  height: 2rem;
  width: 2rem;
}

.button__setting svg path {
  color: rgba(255, 255, 255, 1);
}

.addon {
  padding: 1.25rem;
  margin-top: 2rem;
  background-color: rgb(83, 57, 33);
  border-radius: 0.5rem;
}

.addon h4 {
  text-align: center;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
}

/* addon setting */

.addon__form {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.addon__action {
  display: flex;
  justify-content: space-between;
  margin-top: 1.25rem;
}

.button__minimize {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: rgba(217, 119, 6, 0.8);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 1);
  cursor: pointer;
}

.button__minimize:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 1);
}

.button__minimize svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.button__minimize svg path {
  color: rgb(255, 255, 255);
}

.button__minimize span {
  font-family: 'Lexend', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.button__background {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-color: rgba(217, 119, 6, 0.8);
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 1);
  cursor: pointer;
}

.button__background:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 1);
}

.button__background svg {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.25rem;
}

.button__background svg path {
  color: rgb(255, 255, 255);
}

.button__background span {
  font-family: 'Lexend', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

/* addon background */

.addon__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1.25rem;
}

/* -------------- MINIMIZE --------------- */

.container_small {
  padding: 1rem;
  padding-top: 3rem;
}

.card_small {
  width: 24rem;
  padding: 1.5rem;
  background-color: rgba(75, 55, 39, 0.6);
  border-radius: 0.75rem;
  box-shadow: none;
}

.link_small {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}

.link__active_small {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.8);
}

/* Card Body */
.card__body_small {
  margin-top: 0.5rem;
}

.card__body_small h1 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  font-size: 3rem;
}

/* Card Footer */
.card__footer_small {
  margin-top: 0.5rem;
}

.button__repeat_small svg {
  height: 1.5rem;
  width: 1.5rem;
}

.button__repeat_small svg path {
  color: rgba(255, 255, 255, 0.8);
}

.button__start_small {
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: rgba(217, 119, 6, 0.6);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
}

.button__start_small:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

.button__pause_small {
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  font-size: 1rem;
  background-color: rgba(217, 119, 6, 0.4);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.6);
}

.button__pause_small:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.6);
}

.button__setting_small svg {
  height: 1.5rem;
  width: 1.5rem;
}

.button__setting_small svg path {
  color: rgba(255, 255, 255, 0.8);
}

.addon_small {
  padding: 1rem;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  background-color: rgba(59, 41, 25, 0.8);
}

.addon_small h4 {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.addon__form_small {
  margin-top: 1rem;
}

.addon__action_small {
  margin-top: 1rem;
}

.button__minimize_small {
  padding: 0.375rem 1.25rem;
  background-color: rgba(217, 119, 6, 0.6);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
}

.button__minimize:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

.button__minimize_small svg {
  width: 1rem;
  height: 1rem;
}

.button__minimize svg path {
  color: rgba(255, 255, 255, 0.8);
}

.button__minimize_small span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
}

.button__background_small {
  padding: 0.375rem 1.25rem;
  background-color: rgba(217, 119, 6, 0.6);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
}

.button__background:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

.button__background_small svg {
  width: 1rem;
  height: 1rem;
}

.button__background svg path {
  color: rgba(255, 255, 255, 0.8);
}

.button__background_small span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
}

/* -------------- MODAL --------------- */

.modal {
  left: 1rem;
  bottom: 6.4rem;
  width: 24rem;
  position: absolute;
  padding: 1rem 2rem;
  background-color: rgba(75, 55, 39, 0.6);
  border-radius: 1.25rem;
}

.modal__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.modal__item h4 {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}

.modal__item svg {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
}

.modal__item svg path {
  color: rgba(255, 255, 255, 0.8);
}

.modal__form {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.modal__form input {
  width: 100%;
  padding-bottom: 0.25rem;
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: none;
  border-bottom: 0.125rem solid rgba(180, 83, 9, 0.8);
}

.modal__form input:focus {
  outline: none;
}

.modal__form button {
  margin-left: 1rem;
  padding: 0.375rem 1.25rem;
  font-family: 'Lexend', sans-serif;
  font-size: 0.75rem;
  border: none;
  border-radius: 2rem;
  background-color: rgba(217, 119, 6, 0.6);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
  cursor: pointer;
}

.modal__form button:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

.modal__form button svg {
  height: 1rem;
  width: 1rem;
}

.modal__form button svg path {
  color: rgba(255, 255, 255, 0.8);
}

.button_modal {
  left: 1rem;
  bottom: 3rem;
  position: absolute;
  padding: 0.5rem 2rem;
  font-family: 'Lexend', sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 2rem;
  background-color: rgba(217, 119, 6, 0.6);
  box-shadow: 0 0.25rem 0 rgba(180, 83, 9, 0.8);
  cursor: pointer;
}

.button_modal:hover {
  box-shadow: 0 0.125rem 0 rgba(180, 83, 9, 0.8);
}

/* -------------- RESPONSIVE --------------- */

@media screen and (max-width: 540px) {
  .container {
    padding: 1rem;
  }

  .card {
    width: 100%;
    padding: 1.5rem;
    padding-top: 1rem;
    border-radius: 0.75rem;
  }

  .link {
    font-size: 1rem;
    font-weight: 500;
  }

  .link__active {
    font-size: 1rem;
    font-weight: 500;
  }

  /* Card Body */
  .card__body {
    margin-top: 0.5rem;
  }

  .card__body h1 {
    font-weight: 500;
    font-size: 3rem;
  }

  /* Card Footer */
  .card__footer {
    margin-top: 0.5rem;
  }

  .button__repeat svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .button__start {
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    font-size: 1rem;
  }

  .button__pause {
    padding: 0.5rem 2rem;
    margin: 0 1rem;
    font-size: 1rem;
  }

  .button__setting svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .addon {
    padding: 1rem;
    margin-top: 1.5rem;
  }

  .addon h4 {
    font-size: 1rem;
  }

  .addon__form {
    margin-top: 1rem;
  }

  .addon__action {
    margin-top: 1rem;
  }

  .button__minimize {
    padding: 0.375rem 1.25rem;
  }

  .button__minimize svg {
    width: 1rem;
    height: 1rem;
  }

  .button__minimize span {
    font-size: 0.875rem;
  }

  .button__background {
    padding: 0.375rem 1.25rem;
  }

  .button__background svg {
    width: 1rem;
    height: 1rem;
  }

  .button__background span {
    font-size: 0.875rem;
  }

  /* Modal */
  .modal {
    width: 92.4%;
  }
}
