.addon__input {
  display: flex;
  flex-direction: column;
}

.addon__input label {
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.addon__input input {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  width: 6rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 0.25rem;
}

/* ----------- MINIMIZE ----------- */

.addon__input_small label {
  font-size: 0.825rem;
  color: rgba(255, 255, 255, 80%);
}

.addon__input_small input {
  width: 5rem;
  font-size: 0.875rem;
  background-color: rgba(255, 255, 255, 80%);
}

@media screen and (max-width: 540px) {
  .addon__input label {
    font-size: 0.875rem;
  }

  .addon__input input {
    width: 5rem;
    font-size: 0.875rem;
  }
}
